.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.4rem;
  background: linear-gradient(0deg, #1559B3 0%, #0ED7F3 100%);
}

.logoImage{  
  width: 100%;
  height: auto;
  background-image: url("../../../public/images/speedometer.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.container main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.8rem;
}

.container main > img{
  width: 350px;
}

.container main h1{
  color: #FFF;
}
.gitHubContainer{  
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.4rem 0;
}

.gitHubContainer img{
  width: 50px;
  margin-right: 0.8rem;
}

.gitHubContainer p{
  color: #FFF;
  max-width: 250px;
}

.inputGroup{  
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.8rem 0;
}

.inputGroup input{
  height: 3.6rem;
  width: 250px;
  padding: 0 0.8rem;
  border-radius: 0.4rem 0 0 0.4rem;
  border: none;
}

.inputGroup button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: #1559B3;

  color: #FFF;
  font-size: 14px;
  font-weight: 600;

  padding: 0.8rem 1.4rem;

  height: 3.6rem;
  width: 100%;
  max-width: 400px;

  border-radius:0.4rem;
  border: none;
  transition: 0.2s;
}

.inputGroup button:hover{
  filter: brightness(1.4)
}

.inputGroup button > img{
  width: 18px;
  margin-right: 0.8rem;
}