.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border-radius: 8px;
}

.container header{    
    width: 100%;
    border-radius: 8px;
    padding: 1.4rem 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(72.03deg, #FF5155 0%, #FFC006 100%);
}

.container > header > img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 0.8rem;
}

.participante{
    display: flex;
    flex-direction: column;
}

.participante strong{
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
    color: #FFF;
}

.github{
    width: fit-content;
    background-color: #FFF;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:2px 5px;
}

.github > img{
    width: 15px;
    height: 15px;
}

.github span{
    margin: 0 0.4rem;
}

.containerButtons{
    padding: 1.4rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.4rem;
}

.btn{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: none;
    transition: 0.2s;
}

.btn:hover{
    filter: brightness(1.4);
}

.btn img{
    width: 32px;
    height: 32px;
}

.btnCobra{
    background-color: #0E473B;
}
.btnVomito{
    background-color: #96952E;
}
.btnSorriso{
    background-color: #F5AF31;
}
.btnTriste{
    background-color: #7B0C18;
}
.btnBomba{
    background-color: #383838;
}
.btnCoracao{
    background-color: #E13259;
}
.btnCoracaoPartido{
    background-color: #6F1D66;
}
.btnBanana{
    background-color: #D8D323;
}
.btnPlanta{
    background-color: #15C02F;
}